<html>
    <head>
        <!--FONT AWESOME-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <!--GOOGLE FONTS-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../public/css/style.css" />
    </head>

    <body>
        <footer class="site-footer">
            <div class="container">
                <div class="row" style="display:flex">
                    <div
                        class="col-sm-12 col-md-6"
                        style="margin-right: 54px; width:300px"
                    >
                        <h6>About</h6>
                        <br />
                        <p class="text-justify">
                            <b>GradPlan</b> is a platform for the students of
                            TIET where students can purchase or sell products
                            according to one's requirements. A platform to ease
                            exchange of items within students at nominal rate.
                        </p>
                    </div>

                    <div class="col-xs-6 col-md-3" style="margin-right: 54px">
                        <h6>Categories</h6>
                        <br />
                        <ul class="footer-links">
                            <li><a href="/">Project Categories</a></li>
                            <li><a href="/">Project Catalog</a></li>
                            <li><a href="/">Team Building</a></li>
                            <li><a href="/">Project Section</a></li>
                            <li><a href="/">Others</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <br />
                        <ul class="footer-links">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/newDeal">Project Categories</a></li>
                        </ul>
                    </div>
                </div>
                <hr />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">
                            Copyright &copy; 2020 All Rights Reserved by
                            <a href="/">GradPlan</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li>
                                <a class="facebook" href="#"
                                    ><i class="fa fa-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a class="twitter" href="#"
                                    ><i class="fa fa-twitter"></i
                                ></a>
                            </li>
                            <li>
                                <a class="dribbble" href="#"
                                    ><i class="fa fa-dribbble"></i
                                ></a>
                            </li>
                            <li>
                                <a class="linkedin" href="#"
                                    ><i class="fa fa-linkedin"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
