<html>

<head>
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/footer.css">
</head>

<body>
    <footer>
        <div class="footer">
            <div class="column">
                <ul>
                    <li class="title">GradPlan</li>
                    <li>A One-Stop Platform where you can get the best possible means to crack college placements. It's a boon for students who want to work-upon some real-life projects during their engineering and increase their chances of getting placed
                        in the companies they are aiming for.</li>
                </ul>
            </div>

            <div class="column">
                <ul>
                    <li class="title">OTHER LINKS</li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Tickets</a></li>
                </ul>
            </div>

            <div class="column">
                <ul>
                    <li class="title">SHORT CUT</li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>

        </div>
    </footer>
    <div class="sub-footer">
        Copyright © 2021 - All rights reserved by GradPlan
    </div>
</body>

</html>