<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="../public/css/style.css">
    <style>
        section,h1 {
            padding: 0 1em;
        }

        .grid
        {
            display: grid;
            grid-template-columns: repeat(3,276px);  
            grid-template-rows: repeat(3,219px); 
            grid-gap:110px 70px; 
        }

        .grid-item{
            padding:10px;
        }
        img {
            width: 100%;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div>
            
                 
            <div class="container" style="box-shadow: 0px 0px 15px 0px #bcbcbc;width: 80%;margin: 2% 0% 5% 11%;">
                <article>
                    <h1 style="color:black; font-size:33px; margin-left:32%; margin-top:60px; margin-bottom: -65px;">Welcome to Our Site</h1>
                    <section>
                      
                      <div class="grid" style="margin: 5% 0% -15% 10%;">
                        <div class="grid-item"><img src="/images/dummy.png" id="circle" />
                            <br>Vartika Singh<br>
                            <p>
                                Front-end | HTML, CSS, Javascript<br />
                                <a href="#" target="_blank">
                                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div class="grid-item"><img src="/images/dummy.png" id="circle" /><br>Archita Gupta<br>
                            <p>
                                Machine Learning <br />
                                <a href="#" target="_blank">
                                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div class="grid-item"><img src="/images/dummy.png" id="circle" /><br>Sushant Mahajan<br>
                            <p>
                                Back-end | Node.js, MongoDB<br />
                                <a href="#" target="_blank">
                                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div class="grid-item"><img src="/images/dummy.png" id="circle" /><br>Yasharjit Malhotra<br>
                            <p>
                                Back-end | Node.js, MongoDB<br />
                                <a href="#" target="_blank">
                                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div class="grid-item"><img src="/images/dummy.png" id="circle" /><br>Sudhanshu Mishra<br>
                            <p>
                                Back-end | Node.js, MongoDB<br />
                                <a href="#" target="_blank">
                                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                      </div>
                    </section>
                  </article>
            </div>
        </div>
        
        
        <%- include('partials/footer.ejs') %>
</body>

</html>