<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div>
            <div class="container">
                <h3>
                    Welcome to our Site
                    <span class="heading-style"> </span>
                </h3>
            </div>
        </div>
        <!-- //welcome -->
        <!-- //about page -->
        <div class="about-us-page">
            <h1 style="color:black; font-size:33px; margin-left:33%; margin-top:60px; margin-bottom: -65px;">Welcome to Our Site</h1>
            <div style="display:flex; padding:14%">
                <div>
                    <div>
                        <center>
                            <div id="style_text">
                                <img src="/images/dummy.png" id="circle" /><br>Vartika Singh
                                <p>
                                    Front-end | HTML, CSS, JavaScript<br />
                                    <a href="https://github.com/vartika2022" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i
              ></a>
                                    <a href="https://www.linkedin.com/in/vartika-singh-5a6018168/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i
              ></a>
                                </p>
                            </div>
                        </center>
                        <center>
                            <div id="style_text">
                                <img src="/images/dummy.png" id="circle" />Sudhanshu Mishra
                                <p>
                                    Front-end |Node.js, MongoDB<br />
                                    <a href="https://github.com/archita17" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i
              ></a>
                                    <a href="https://www.linkedin.com/in/archita-gupta-b36a80192/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i
              ></a>
                                </p>
                            </div>
                        </center>
                        <center>
                            <div id="style_text">
                                <img src="/images/dummy.png" id="circle" /> <br>Archita Gupta
                                <p>
                                    Front-end | HTML, CSS, JavaScript<br />
                                    <a href="https://github.com/archita17" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i
              ></a>
                                    <a href="https://www.linkedin.com/in/archita-gupta-b36a80192/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i
              ></a>
                                </p>
                            </div>
                        </center>
                        <center>
                            <div id="style_text">
                                <img src="/images/dummy.png" id="circle" /><br>Sushant Mahajan
                                <p>
                                    Back-end | Node.Js, MongoDB<br />
                                    <a href="https://github.com/sushantmahajan85" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i
              ></a>
                                    <a href="https://www.linkedin.com/in/sushant-mahajan-3933b5184/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i
              ></a>
                                </p>
                            </div>
                        </center>
                        <center>
                            <div id="style_text">
                                <img src="/images/dummy.png" id="circle" /><br>Yasharjit Malhotra
                                <p>
                                    Back-end | Node.Js, MongoDB<br />
                                    <a href="https://github.com/yasharjit" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i
              ></a>
                                    <a href="https://www.linkedin.com/in/sushant-mahajan-3933b5184/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i
              ></a>
                                </p>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
</body>

</html>