<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="panel">
            <h6>Designers & Developers</h6>
            <ul class="user-list">
                <li>
                    <img src="https://gravatar.com/avatar/3cacb983245e521381e6e128efa8216d?s=50">
                    <h5>Bikrant Giri</h5>
                    <p>l3ikrant@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars2.githubusercontent.com/u/5351212?s=460&v=4">
                    <h5>Amulya Acharya</h5>
                    <p>awemulya@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited active"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars3.githubusercontent.com/u/19554353?s=400&v=4">
                    <h5>Saroj Rai</h5>
                    <p>aesaroj16@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars2.githubusercontent.com/u/26739576?s=400&v=4">
                    <h5>Sanip Rijal</h5>
                    <p>saneprijal@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited active"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars2.githubusercontent.com/u/11831955?s=400&v=4">
                    <h5>Nishon Tandukar</h5>
                    <p>nishon.tan@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars0.githubusercontent.com/u/20719868?s=400&v=4">
                    <h5>Aashish Baidya</h5>
                    <p>aashish.baidya.c3@gmail.com </p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                
            </ul>
        </div>
    
    <div class="panel panel-lg">
            <h6>Designers & Developers</h6>
            <ul class="user-list user-list-col">
                <li>
                    <img src="https://gravatar.com/avatar/3cacb983245e521381e6e128efa8216d?s=50">
                    <h5>Bikrant Giri</h5>
                    <p>l3ikrant@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars2.githubusercontent.com/u/5351212?s=460&v=4">
                    <h5>Amulya Acharya</h5>
                    <p>awemulya@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited active"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars3.githubusercontent.com/u/19554353?s=400&v=4">
                    <h5>Saroj Rai</h5>
                    <p>aesaroj16@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars2.githubusercontent.com/u/26739576?s=400&v=4">
                    <h5>Sanip Rijal</h5>
                    <p>saneprijal@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited active"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars2.githubusercontent.com/u/11831955?s=400&v=4">
                    <h5>Nishon Tandukar</h5>
                    <p>nishon.tan@gmail.com</p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                <li>
                    <img src="https://avatars0.githubusercontent.com/u/20719868?s=400&v=4">
                    <h5>Aashish Baidya</h5>
                    <p>aashish.baidya.c3@gmail.com </p>
                    <div class="action-wrap">
                        <a href="#" class="btn-action btn-invite active"><i class="la la-plus"></i></a>
                        <a href="#" class="btn-action btn-invited"><i class="la la-check"></i></a>
                    </div>
                </li>
                
            </ul>
        </div>
        <%- include('partials/footer.ejs') %>
        <script>
            $('.btn-invite').click(function(e){
                e.preventDefault();
                $(this).removeClass('active');
                $(this).siblings('.btn-invited').addClass('active');
            });

            $('.btn-invited').click(function(e){
                e.preventDefault();
                $(this).removeClass('active');
                $(this).siblings('.btn-invite').addClass('active');
            });
        </script>
    </body>
</html>
