<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="../public/css/style.css" />
        <link
            href="public/images/favicon.png"
            rel="icon"
            type="image/gif"
            sizes="16x16"
        />
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="services" class="services section-bg">
            <div class="container-fluid">
                <div class="col-sm-12 text-center mb-4"></div>
                <div class="row row-sm">
                    <div class="col-md-6">
                        <div class="_product-detail-content">
                            <center>
                                <p class="_p-name">
                                    GradPlan - One stop shop for everything
                                    academic
                                </p>
                            </center>
                            <div class="_p-price-box">
                                <div class="_p-features">
                                    <ul>
                                        <li>Project Duration:</li>
                                        <br />
                                        <p>6 Months</p>
                                        <li>Project Description:</li>
                                        <br />
                                        <p>
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit.
                                            Laborum eaque nesciunt, tempora
                                            totam temporibus delectus iusto
                                            cumque beatae exercitationem.
                                            Numquam ut pariatur consectetur ea
                                            accusantium dignissimos, qui
                                            veritatis enim voluptates!
                                        </p>
                                        <li>Experience:</li>
                                        <br />
                                        <p>No Experience Required</p>
                                        <li>Apply by date:</li>
                                        <br />
                                        <p>10th June, 2021</p>
                                        <li>Skills Required:</li>
                                        <br />
                                        <p>
                                            HTML, CSS, JS, NodeJS (Express
                                            Framework)
                                        </p>
                                    </ul>
                                </div>
                                <br />
                                <form
                                    action=""
                                    method="post"
                                    accept-charset="utf-8"
                                >
                                    <ul class="spe_ul"></ul>
                                    <div class="_p-qty-and-cart">
                                        <div class="_p-add-cart">
                                            <button
                                                class="btn-theme btn buy-btn"
                                                tabindex="0"
                                            >
                                                <i
                                                    class="fa fa-paper-plane"
                                                ></i>
                                                Apply Now
                                            </button>
                                            <input
                                                type="hidden"
                                                name="pid"
                                                value="18"
                                            />
                                            <input
                                                type="hidden"
                                                name="price"
                                                value="850"
                                            />
                                            <input
                                                type="hidden"
                                                name="url"
                                                value=""
                                            />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
