<html>
    <head>
        <style>
            section,h1 {
                padding: 0 1em;
            }

            .grid
            {
                display: grid;
                grid-template-columns: repeat(3,150px);  /* 3 columns */
                grid-template-rows: repeat(3,150px); /* 3 rows  */
                grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
            }
            .grid-item{
                padding:10px;
            }
        </style>
    </head>
    <body>
        <article>
            <section>
                <span style="margin-top: -2%;"><p style="margin: 0; padding: 0; font-size: 22px; font-weight: bold; 
                width:100%; color: #333333; text-align: center; margin-left: 123%; margin-top: -17%; height: auto;">
                    End your struggles with excellent roadmaps<br> at GradPlan
                </p><br>

                <p style="max-width: 440px; margin: 0 auto; padding: 0; text-align: center; font-size: 17px; line-height: 1.4;width: 236%;
                margin-left: 129%; margin-top: -3%; align-content: center; ">Ace hackathons like never before!<br> 
                    Match people based on the desired skillset you need using our efficient team formation feature.
                </p>     

                <a href="./roadmapBuilder" style="background: #de0034; margin-top:10%;
                    border: 15px solid #de0034; font-size: 16px; 
                    line-height: 1.1; text-align: center; text-decoration: none; 
                    display: block; -webkit-border-radius: 50px;
                    -moz-border-radius: 50px; border-radius: 50px;
                    width: 31%;
                    height: 50px;
                    margin-left: 157%; margin-top: 5%;">
                    <span class="button-link" style="color: white;">&nbsp;&nbsp;&nbsp;Start&nbsp;&nbsp;&nbsp;</span>
                </a>  
                </span>
                <div class="grid">
                    <div class="grid-item"><img src="../public/images/roadmap.png" 
                        style="width: 290%; height: auto; margin: -192% 0% -15% 40%;">
                </div>

            </div>
            </section>
          </article>
    </body>
</html>
